.result{
    position: absolute;
    background-color: rgb(37, 14, 14);
    top: 64%;
    right: 35%;
    width: 33rem;
    height: 11rem;
    overflow: scroll;
    color: #0a0a0a;
    padding: 5px;
}
