$backgroundColor: #f5f5f5;

    #history {
        height: 32%;
        margin-right: 10%;
        margin-left: 10%;
        position: absolute;
        top: 22%;
        right: 60%;
        width: 20%;
        color: #434343;
       
}